{% extends 'base.html.twig' %}

{% block title %}Movie Details: {{ movie.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie.id is not null %}
    <h1>Movie : {{ movie.title }}</h1>

    <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="float-end w-50">
    <ul>
        <li>Id : {{ movie.id }}</li>
        <li>Released : {{ movie.releasedAt|date('Y M d') }}</li>
        <li>Country : {{ movie.country }}</li>
        <li>Genres : {{ movie.genres|reduce((carry, genre) => carry == '' ? carry ~ genre.name : carry ~ ', ' ~ genre.name, '') }}</li>
        <li>Rated : {{ movie.rated }}</li>
    </ul>
    {% else %}
        <p>Movie not found.</p>
    {% endif %}
</div>
{% endblock %}
