{% extends 'base.html.twig' %}
{#{% form_theme bookForm 'bootstrap_5_layout.html.twig' %}#}

{% block title %}New Book{% endblock %}

{% block body %}
    <section class="w-50 m-auto">
        <h1>Create new Book</h1>

        {{ form_start(bookForm) }}
        {{ form_widget(bookForm) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(bookForm) }}
        <a href="{{ path('app_book_index') }}">back to list</a>
    </section>

{% endblock %}
